<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('./partials/styles')  %>
</head>

<body>

    <%- include('./partials/header')  %>
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/41.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-home" aria-hidden="true"></i> Home</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Video Submit Area Start ##### -->
    <div class="video-submit-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Video Submit Content -->
                    <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Welcome Admin</h5>
                        </div>

                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-sm-4 m-auto">
                                        <a href="/create-customer">
                                            <div class="card se">
                                                <img class="card-img-top" src="/assets/img/portfolio-18-400x400.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text"><b>Create a new Account</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                        
                                    </div>
                                    <div class="col-sm-4 m-auto">
                                        <a href="/customer-list/1">
                                            <div class="card se">
                                                <img class="card-img-top" src="/assets/img/portfolio-20-400x400.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text"><b>Customer Records</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- scripts -->
    <%- include('./partials/scripts')  %>



</body>

</html>